<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexo</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/iconfont/iconfont.js"></script>
    <script src="/js/canvas-ribbon.js" id="ribbon" alpha="0.6" size="150" zIndex="-1"></script>
</head>