<header>
    <div class="header-core">
        <div class="website">
            <img class="logo" src="/images/favicon.svg">
            <a class="title" href="/">Hexo</a>
        </div>
        <nav class="webmenu">
            <ul style="white-space: nowrap;">
                <li class="menu-item">
                    <a href="#">归档</a>
                </li>
                <li class="menu-item">
                    <a href="#">分类</a>
                </li>
                <li class="menu-item">
                    <a href="#">标签</a>
                </li>
                <li class="menu-item">
                    <a href="#">关于</a>
                </li>
            </ul>
        </nav>
    </div>
</header>